#MainContainer {
    display: flex;
}

#SearchArea {
    width: 20%;
    padding: 10px;
}

#SearchButton {
    margin-top: 10px;
    margin-bottom: 10px;
}

#SavedCitiesList {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10px;
}

#WeatherArea {
    width: 80%;
    padding: 10px;
}

#CurrentWeatherContainer {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px black solid;
}

#ForecastContainer {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.header {
    background-color: aqua;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px black solid;
}

.weather-card {
    background-color: aqua;
    width: 16%;
    justify-content: space-between;
    margin: 15px;
    border: 1px black solid;
    width: fit-content;
}

button {
    margin: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}

