#MainContainer {
    display: flex;
}

#SearchArea {
    width: 20%;
    padding: 10px;
}

#WeatherArea {
    width: 80%;
    padding: 10px;
}

#ForecastContainer {
    display: flex;
    flex-wrap: wrap;
}

.weather-card{
    margin: 15px;
    border: 1px black solid;
    min-width: 200px;
}